body{
    background-color: gray;
}
.produtos{
    display: flex;
}
.card {
    display: flex;
    width: 320px;
    padding: 20px 30px;
    margin: 20px 50px;
    background-color: rgb(228, 228, 228);
}
img{
    width: 120px;
    border-radius: 50%;
}

button:hover{
    background-color: black;
    color: white;

}
button:focus{
    background-color: yellow;
    color: black;
}
.promo{
    position: absolute;
    top: 40px;
}